a {
    text-decoration: none;
    color: rgb(117, 36, 36) !important;
    font-weight: 500;
}

a:hover {
    color: #de69a2 !important;
    /* color: #d33682 !important; */
    text-decoration: none;
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}